@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

#foto1 {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

#foto2 {
  text-align: center;
}
#contador1,
#contador2 {
  text-align: center;
}

p {
  text-align: center;
  color: rgba(128, 128, 128, 0.555);
}

hr {
  width: 25%; /* Ocupa 100% da largura em dispositivos móveis */
  margin: 20px auto; /* Margem reduzida */
}

div#dec {
  text-align: center;
}

p#text {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Estilo do coração */
.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  transform: rotate(45deg);
  animation: fall linear infinite;
}

/* Parte de cima do coração (circulo) */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  top: 0;
  left: -10px;
}

@keyframes fall {
  0% {
    top: -10%;
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}
